* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 48px auto;
}

.grid-layout {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  /* grid-auto-rows: 300px 300px; */
  /* grid-template-rows: repeat(4, 100px); */
  /* grid-auto-columns: minmax(250px, auto); */
}

.grid-layout img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-layout img.two-rows {
  grid-row: span 2 / auto;
}
